<app-course-information-header></app-course-information-header>


<header class="masthead" style="background-image: url('{{imageURL}}/courses/img/{{course.courseID}}')">

  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>{{course.name}}</h1>
          <span class="subheading">A course to learn...</span><br>
          <div class="table-responsive">
            <table class="table">
              <tbody>
              <tr>
                <td>  From </td>
                <td>{{course.startDateString}}</td>
                <td>  To  </td>
                <td>{{course.endDateString}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Main Content -->
<div class="container">
  <div class="row" id=courseInformation>
    <div class="col-lg-8 col-md-10 mx-auto">
      <div class="post-preview">
        <h2 class="post-title">
          Description
        </h2>
        <div class="course-description" *ngIf="course">
          <p class="post-subtitle">{{course.courseDescription}}</p>
          <a href="/course/{{course.internalName}}/add" class="btn btn-info">Add Course</a>
        </div>
      </div>
    </div>
  </div>
</div>
<app-course-information-footer></app-course-information-footer>
<router-outlet></router-outlet>
<br>
<!--
{{#error}}
<div class="col-xs-12 col-sm-12 col-md-12 " align=center>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{{/error}}

-->
