<!-- Page Header -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="/">AMICOURSES</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../']" routerLinkActive="active">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['.']" routerLinkActive="active">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['../subjects']" routerLinkActive="active">Subjects</a>
          </li>
        </ul>
    </div>
  </div>
</nav>
<header class="masthead" style="background-image: url('https://localhost:8443/courses/img/{{id}}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Skills</h1>
          <span class="subheading">This is what I`m going to learn.</span>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <h2>Skills</h2>
  <div class="table-responsive">
    <div class="skills" *ngIf="skills">
      <table class="table" id=courseSkills>
        <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>
        <!-- {{#skills}} -->
        <tbody *ngFor="let skill of skills; let i = index">
        <tr>
          <td>{{i+1}}</td>
          <td>{{skill.skillName}}</td>
          <td>{{skill.skillDescription}}</td>
        </tr>
        </tbody>
        <!--{{/skills}}-->
      </table>
    </div>
  </div>
</div>
<app-course-information-footer></app-course-information-footer>
