


<span class="pl-3 py-1 tab-title"> Contents:</span>
<ngb-tabset justify="fill" >
    <ngb-tab *ngFor="let module of modules; let i = index"   title="Mod {{i}}" >
        <ng-template ngbTabContent>

            <!-- Students -->
            <span *ngIf="loginService.isStudent">
                <a *ngFor="let studyItem of studyItems[i]" class="item-content" (click)="getStudyItemFile(studyItem)">
                    <li  class="list-group-item"><span
                        class="item-icon fa fa-{{studyItem?.type}} pl-5"></span> {{studyItem?.name}}</li>
                </a> 
            </span>

            <!-- Teachers -->
            <span *ngIf="!loginService.isStudent">
                <a *ngFor="let studyItem of studyItems[i]" class="item-content" (click)="getStudyItemFile(studyItem)">
                    <li  class="list-group-item"><span
                        class="item-icon fa fa-{{studyItem?.type}} pl-5"></span> {{studyItem?.name}}</li>
                </a> 
            </span>


        </ng-template>
    </ngb-tab>

    <ngb-tab *ngIf="!loginService.isStudent" title="New Mod +">

    </ngb-tab>

</ngb-tabset>