<body id="page-top">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="nav-link mt-5" id="main-page-link" [routerLink]="['/index']">AMICOURSES</a>

    <a class="navbar-brand js-scroll-trigger" >
      <span class="d-block d-lg-none">Start Bootstrap</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src='{{URL}}/profileimg/{{user?.internalName}}' alt="profileImg">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger">About</a>
        </li>
        <!--<li class="nav-item">
<a class="nav-link js-scroll-trigger" href="experience">Experience</a>
</li>-->
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" >Inscribed courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" >Completed Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" >Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link btn" (click)="logOut()">Log Out</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-lg-10 col-md-12 mx-auto">
        <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
          <div class="my-auto">
            <h1 class="mb-0">{{user?.userFirstName}}
              <span class="text-primary">{{user?.userLastName}}</span>
            </h1>
            <h3 id="name">{{user?.username}}</h3>
            <div class="subheading mb-5">{{user?.userAddress}}
              <a href="mailto:name@email.com">{{user?.userMail}}</a>
            </div>
            <p class="mb-5">{{user?.phoneNumber}}</p>

            <a *ngIf="loginService?.user?.userID==user?.userID" [routerLink]="['/users/'+internalName+'/profile/update']" class="border p-2" id="btn-edit-profile">Edit Profile</a>

          </div>
        </section>
      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="inscribed-courses">
        <div class="my-auto">
          <h2 class="mb-5">Inscribed Courses:</h2>
          <ul class = "list-group">
            <!-- inscribedCourses -->
            <li class = "list-group-item" *ngFor="let course of user?.currentCourses">
              <!-- Course -->
        <div class="row align-items-center">
                <!-- Image -->
         <a [routerLink]="['/course-overview', course?.internalName]" class = "col-xs-0 col-sm-3 col-lg-2">
                  <!-- <img  class="course-img img-fluid rounded-circle" src="../../../assets/img/courses/{{course.courseID}}/course-{{course.courseID}}.jpg" alt="Course Photo" > -->
           <img class="course-img img-fluid rounded-circle" src="{{imageURL}}/courses/img/{{course.courseID}}" alt=" Course photo">
                </a>
                <!-- Text -->
        <div class="offset-1 offset-md-0 col-lg-8 col-md-8 col-sm-10 col-10 ">
                  <div class="p-3">
                    <p class="course-name ">{{course?.name}}</p>
                    <p class = "course-text">{{course?.courseDescription}}</p>
                  </div>
                </div>
                <div *ngIf="loginService?.user?.userID==user?.userID" class = 'col-2 offset-5  offset-lg-0 col-lg-2 col-sm-2 mb-1'>
                  <a [routerLink]="['/course-overview', course?.internalName]" class = 'btn btn-primary px-3 ' role = 'button'>Go</a>
                </div>
              </div>
            </li>
            <!-- inscribedCourses -->
          </ul>

        </div>
      </section>
      <section *ngIf="user?.student" class="resume-section p-3 p-lg-5 d-flex flex-column" id="completed-courses">
        <div class="my-auto">
          <h2 class="mb-5">Completed Courses</h2>

          <ul class = "list-group">
            <!-- completedCourses -->
            <li class = "list-group-item" *ngFor="let course of user?.completedCourses">
              <!-- Course -->
        <div class="row align-items-center">
          <!-- Image -->
           <a class = "col-0 col-sm-3 col-lg-2">
                  <!-- <img  class="course-img img-fluid rounded-circle" src="../../../assets/img/courses/{{course?.courseID}}/course-{{course?.courseID}}.jpg" alt="Course Photo" > -->
                  <img class="course-img img-fluid rounded-circle" src="{{imageURL}}/courses/img/{{course.courseID}}" alt=" Course photo">
                </a>
                <!-- Text -->
          <div class="offset-1 offset-md-0 col-lg-7 col-md-7 col-sm-10 col-10 ">
                  <div class="p-3">
                    <p class="course-name ">{{course?.name}}</p>
                    <p class = "course-text">{{course?.courseDescription}}</p>
                  </div>
                </div>

                <div *ngIf="loginService?.user?.userID==user?.userID" class = 'col-2 offset-5  offset-lg-0 col-lg-2 col-sm-2 mb-1'>
                  <a [routerLink]="['/profile/', internalName, '/certificate/', user.internalName-user.userID]" class = 'btn btn-primary fa fa-file-pdf' role = 'button'> Certificate</a>
                </div>

              </div>
            </li>
            <!-- completedCourses -->
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
          <!-- completedCourses -->
          <div *ngFor="let course of user?.completedCourses">
          <div class="subheading mb-3">{{course?.name}}</div>

          <ul class="fa-ul mb-0">
            <li *ngFor="let skill of course?.skills">
              <i class="fa-li fa fa-check"></i>
              {{skill?.skillName}}</li>
            <li>
          </ul>
          </div>
          <!-- completedCourses -->
        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>{{user?.interests}}</p>
        </div>
      </section>
      </div>
    </div>
  </div>
</body>
