.fixed-top-2 {
    margin-top: 56px;
}

body {
    padding-top: 100px;

}

.st-col{
    min-width: 20em;
}

.nd-col{
    min-width: 12em;
}

.rd-col{
    min-width: 5em;
}

.th-col{
    min-width: 12em;
}

.table tr:hover td{
    background-color: #B8E7FF;
}

.breadcrumb{
    margin-bottom: 0;
    background-color: 
}
#ask {
    padding-top: 1pc;
    padding-bottom: 1pc;
}

.author-col{
    min-width: 12em;
}

.post-col{
    min-width: 20em;
}

