<header-general-component></header-general-component>

<section>
		<div class="container-fluid ">
			<div class="row">
				<!-- Contents -->
				<div class="col-md-12 col-12" id="contents-tab">
					<h1>{{message[0]}}</h1>
					<div class="main-wthree">
						<h2> {{error}}</h2>
						<p>
							<span class="sub-agileinfo">Sorry :(! </span>
							{{message[1]}}
						</p>
						<!--form-->
						<div class="newsletter">
							<button [routerLink]="['/index']" class="btn btn-login">Go
								to the main page</button>
						</div>

						<!--//form-->
					</div>
					<!--//mian-content-->
					<!-- copyright -->
					<div class="copyright-w3-agile">
						<p>
							© 2018 AMICO<a [routerLink]="['/index']" target="_blank">urses</a>
						</p>
					</div>
					<!-- //copyright -->
				</div>
			</div>
		</div>
	</section>
